<div class="container">
    <div class="jumbotron">
        <div class="card-columns">
            <div class="col text-center">
                <div class="card" *ngFor="let student of students; let i = index">
                    <img [src]="student.img" class="card-img-top" height="280" width="60">
                    <div class="card-block">
                        <h4 class="card-title">{{student.name}}</h4>
                        <p class="card-text">{{student.description}}</p>
                        <!-- <a [routerLink]="[ '/student',i ]" class="btn btn-outline-primary">Ver detalle</a> -->
                        <button type="button" class="btn btn-outline-primary" (click)="getStudent(i)">Ver detalle</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>